<div class="card">
        <div class="homeimagediv">
            <img class="home-image" src="assets/images/hometext.jpg" alt="Home Page">
        </div>    
        <div class="podaci">
            <div class="ppp">
                <img class="img1" src="assets/images/cover2.png" style="width:100%;" alt="Pocetna stranica - slika 1">
                <p class="tekst">
                    Cilj ove konferencije je omogućiti autorima sa univerziteta, instituta, istraživačkih centara i privrede da prezentuju svoje radove i diskutuju o najnovijim dostignućima i konceptima, otvarajući i razvijajući nove pravce istraživanja.
                </p>
            </div>
            <div class="ppp">
                <p class="tekst">
                    Postoji potreba da veliki ljudi koji su uspeli u svom poslu, podele sa manjima svoja znanja, iskustva i predviđanja, kao i da im objasne kako su razvijali svoje misli i način života.
                </p>
                <img class="img2" src="assets/images/cover2.png" style="width:100%;" alt="Pocetna stranica - slika 2">
            </div>
            <div class="ppp">
                <img class="img3" src="assets/images/cover2.png" style="width:100%;" alt="Pocetna stranica - slika 3">
                <p class="tekst">
                    Ništa ne može da se poistoveti sa time kada sednete i slušate o problemima kroz koje prolazite sa onima koji su već pronašli rešenje koje vam je potrebno i tako steknete najpraktičnije moguće znanje koje odmah možete da primenite.
                </p>
            </div>
        </div>
</div>