// .dugmic
// {
//       background-image: linear-gradient(to right,#EDB83D,#D70026);
// }

.dugmicProfil {
    margin-left: 2px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}