<div class="card">
    <div class="tabelapredavanja">
        <p-table [value]='predavanje'>
            <ng-template pTemplate="header" >
                <tr>
                    <th>Naziv</th>
                    <th>Opis</th>
                    <th>Predavac</th>
                    <th>Sala</th>
                    <th>Datum</th>
                    <th>Pocetak predavanja</th>
                    <th>Kraj predavanja</th>
                    <th><form  >
                        <label class="radio-inline">
                            <input class="form-check-input" type="radio" [(ngModel)]="pree" name="aa" value="Odslusana"  (change)="radnja(pree)"/>Odslusana
                          </label><br>
                          <label class="radio-inline"> 
                            <input class="form-check-input" type="radio" [(ngModel)]="poslee" name="aa" value="Predstojeca" (change)="radnja(poslee)" />Predostojeca
                          </label>
            
                      </form></th>
                </tr>
            </ng-template>
            <p>{{predavanje}}</p>
            <ng-template pTemplate="body" let-predavanja>
                <tr>
                    <td>{{predavanja.naziv}}</td>
                    <td>{{predavanja.opis}}</td>
                    <td>{{predavanja.predavac}}   <i *ngIf="text=='Odslusana'" [routerLink]="['/mojaPredavanja',predavanja.id]" style="cursor:pointer" class="pi pi-comment">&nbsp;</i></td>
                    <td>{{predavanja.sala}}</td>
                    <td>{{predavanja.datum}}</td>
                    <td>{{predavanja.pocetakPredavanja}}</td>
                    <td>{{predavanja.krajPredavanja}}</td>
                    <td><button>Izmeni</button></td>
                </tr>
            </ng-template>
        </p-table>
        
    </div>
</div>