<div class="card m-5">
    <div [formGroup]="form"
        style="display: flex; justify-content: center; flex-direction: column; max-width: 300px; align-items: center;">
        <textarea class="ml-2" formControlName="text"  style="color: black;background-color: white;" rows="6" cols="40" pInputTextarea></textarea>
        <button *ngIf="this.authService?.userValue?.role==='Predavac'" pButton pRipple type="button" (click)="report()" label="Report" class="p-button-secondary mt-3"></button>
    </div>
</div>

