@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
 
/**
* PrimeNG override styles
*/
.p-dialog{
  @include xs{
    width: 90% !important;
  }
}
