<div class="background">
    <div class="slika">
        <img class="slika404" src="assets/images/errrr.jpg" alt="404">
    </div>
    <div class="card col-md-6 align-self-center">
        <h1>404</h1>
        <h2>Hmm... Izgubili ste se.</h2>
        <p> Stranica koju tražite ne postoji.
            Kako ste došli ovde je misterija.
            <br/>
            Možete se vratiti na početnu stranicu klikom na dugme ispod.
        </p>
        <button class="mt-5 w-13rem" pButton label="Početna stranica" button [routerLink]="['/home']"></button>
    </div>
</div>
