.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.izmeni-predavanje-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    min-width: 300px;
    //border: 1px solid black;
    .podaci-izmeni {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}