<footer  class="card">
    <div class="footer">
        <div class="card">
            <div class="podaci">
                <div class="labele">
                    <h3 class="mb-2 mt-5">O NAMA</h3>
                    <hr class="mb-5 ml-1" width="50px;">
                    <h4>Web projekat Conferenzia</h4>
                    <h4>Team010</h4>
                    <h5>Dušan Spasić</h5>
                    <h5>Bogdan Filipović</h5>
                    <h5>Danica Antić</h5>
                </div>
                <div class="linkovi">
                    <h3 class="mb-2 mt-5">LINKS</h3>
                    <hr class="mb-5 ml-1" width="50px;">
                    <i class="pi pi-facebook m-1" style="font-size: 1.5rem"></i>
                    <i class="pi pi-twitter m-1" style="font-size: 1.5rem"></i>
                    <i class="pi pi-instagram m-1" style="font-size: 1.5rem"></i>
                </div>
                <div class="contact">
                    <h3 class="mb-2 mt-5">CONTACT</h3>
                    <hr class="mb-4 ml-1" width="50px;">
                    <div class="contact2">
                        <span class="spans">
                            <i class="pi pi-home m-1" style="font-size: 1.5rem"></i>
                            <label class="ml-2">Pirot</label>
                        </span>
                        <span class="spans">
                            <i class="pi pi-envelope m-1" style="font-size: 1.5rem"></i>
                            <label class="ml-2">info@conferenzia.com</label>
                        </span>
                        <span class="spans">
                            <i class="pi pi-phone m-1" style="font-size: 1.5rem"></i>
                            <label class="ml-2">+381 65 111 222</label>
                        </span>
                        <span class="spans">
                            <i class="pi pi-print m-1" style="font-size: 1.5rem"></i>
                            <label class="ml-2">010 99 88 765</label>
                        </span>
                    </div>
    
                </div>
            </div>
            <div class="end">
                <label>COPYRIGHT CONFERENZIA 2022</label>
            </div>
        </div>
    </div>
    
</footer>
