.card {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.izmeni-profil-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    min-width: 300px;
    //border: 1px solid black;
    .podaci-izmeni {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .naslov {
        margin-bottom: 2rem;
    }
}